body{
    font-family: 'Merriweather Sans', sans-serif;
    margin:0;
}

h1{
    color:#66BFBF;
    font-size: 5.625rem;
    margin:0;
    font-family: 'Sacramento',cursive;
    text-size-adjust: 100px;
    line-height: 2;
}
h2{
    font-weight: normal;
    color:#66BFBF;
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    margin:0;
}
h3{
    font-family: 'Merriweather Sans', sans-serif;
    margin:0;
}
/************selector class************/
.top-container{
    background-color:#CDFCF6;
    margin:0;
    padding-top: 100px;
}
.top-cloud{
     position: absolute;
     top: 6.25rem; right:10rem;
}
.bottom-cloud{
     position: absolute;
     bottom: 6.25;left: 11rem;
}
.middle-container{
        background-color: #A8E890;
}
.py{
    position: absolute;
    left :100px;
}
.dv{
    position: absolute;
    right:100px; 
}
.gh{
    position:absolute;
    right: 100px;
}
.tw{
    position:absolute;
    left:100px;
}
.skill-row{
      line-height: 2;
      width:50%;
      text-align: left;
      margin: 100px auto 100px auto;
}
.cp{
    position:relative;
    bottom:-300px; right:350px;
}
.hl{
    position:relative;
    bottom:-300px; left:800px;
}
hr{
    border-style: dotted none none;
    height: 0px;
    width: 60%;
    border-width: 5px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 20px 0 50px 0;
}
